.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  min-height: fit-content;
}



.dashboard-card-content {
  text-align: center;
}

::ng-deep .mat-ripple:not(:empty) {
  opacity: 1.0 !important;
 color: #3f51b5 !important;
}


::ng-deep .mat-grid-tile-content{
  z-index: 0;
}
::ng-deep .mat-tab-body.mat-tab-body-active{
  z-index: 0 !important;
}
